# Virtual environment
.venv/
venv/
env/
.venv


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Environment variables
.env

# pytest
.pytest_cache/
.coverage
htmlcov/

# mypy / ruff / pyright
.mypy_cache/
.ruff_cache/
pyrightconfig.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# CSV
*.csv

